<link href="https://cdnjs.cloudflare.com/ajax/libs/pure/0.6.0/base-context-min.css" rel="stylesheet">
<html>
<head>
 <title>Demo</title>
</head>
<body>
 <h1>Add a torrent URL:</h1>
 <form action="/write" method="POST">
  <input type="text" name="userinput" id="userinput">
  <input type="submit" value="Submit">
 </form>
 <a href="./deleteall">Delete all</a>
 <table style="width:100%" class="pure-table">
  {% for userinput in userinputs %}
   <tbody>
   	<tr>
   	  <td>'{{userinput.url}}'</td>
   	  <td>'{{userinput._id}}'</td>
    </tr>
     {% endfor %}
   </tbody>

  </table>
 

 