<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<html>
<head>
 <title>Demo</title>
</head>
<body>
 <h1>Add a torrent URL:</h1>
 <form action="/write" method="POST">
  <input type="text" name="userinput" id="userinput">
  <input type="submit" value="Submit">
 </form>
 <a href="./deleteall">Delete all</a>
 <table style="width:80%" class="pure-table">
 <thead>
   	 <th>Name:</th>
   	 <th>Database Id:</th>
   	 <th>Progress:</th>
   </thead>
  {% for userinput in userinputs %}
   <tbody>
   	<tr>
   	  <td>'{{userinput.url}}'</td>
   	  <td>'{{userinput._id}}'</td>
   	  <td><progress value="22" max="100"></progress></td>
    </tr>
     {% endfor %}
   </tbody>

  </table>
 

 