<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
<html>
<head>
 <title>Demo</title>
</head>
<body>
 <h1>Add a torrent URL:</h1>
 <form action="/write" method="POST">
  <input type="text" name="userinput" id="userinput">
  <input type="submit" value="Submit">
 </form>
 <a href="./deleteall">Delete all</a>
 <table style="width:80%" class="pure-table">
 <thead>
   	 <th>Name:</th>
   	 <th>Database Id:</th>
   	 <th>Progress:</th>
   </thead>
  {% for torrent in torrents %}
   <tbody>
   	<tr>
       {% if (torrent.status == 0): %}
     	  <td>'{{torrent.url}}'</td>
     	  <td>'{{torrent._id}}'</td>
     	  <td><progress value="0" max="100"></progress></td>
       {% else %}
       <td>'{{torrent.name}}'</td>
       <td>'{{torrent._id}}'</td>
       <td><progress value= {{ torrent.size_done }} max= {{ torrent.size }}></progress></td>
       {% endif %}

    </tr>
     {% endfor %}
   </tbody>

  </table>
